.load-more{
    display: flex;
    align-items: center;
    background-color: #3f51b5;
    color: rgb(152, 255, 255);
    border: 1.5px solid #00106b;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 7px 20px;
}